.nav-bar {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*background-color:  rgba(128,128,128, 0.4);*/
  background-color: #72BEF0;
  padding-top: 20px;
}

#logo > img {
  width: auto;
  height: auto;
}

#menu {
  display: inline-block;
  list-style-type: none;
  margin-right: 50px;
  /*min-width: 950px;*/
}

#menu > ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu > ul > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  font-size: 14pt;
  text-align: center;
}

#menu > ul > li a {
  -webkit-transition: font 0.4s ease;
  transition: font 0.4s ease;
}

#menu > ul > li:hover a {
  -webkit-transition: font 0.4s ease;
  transition: font 0.4s ease;
  font-weight: bold;
  font-size: 18pt;
}

#menu a {
  color: black;
  text-decoration: none;
}

div.hide-menu {
  display: none;
  background-color: #72BEF0;
  min-width: 180px;
}

div.hide-menu > ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-top: 40px;
}

div.hide-menu > ul > li {
  margin-bottom: 10px;
}

div.hide-menu > ul > li:hover > a {
  font-weight: bold;
}

.sub-menu {
  cursor: pointer;
}

.sub-menu > a {
  position: relative;
}

.sub-menu:hover .hide-menu {
  display: block;
  position: absolute;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  background-image: url(../image/header-new.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
  margin-top: -1px;
}

.banner > span {
  font-size: 26pt;
  font-weight: 600;
  display: block;
  margin-top: -50px;
  line-height: 30pt;
  color: #fff;
}

footer {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #72BEF0;
  padding-top: 25px;
  font-size: 11pt;
}

footer ul {
  margin-top: 0;
}

.logo-footer {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-footer > img {
  width: 50px;
  height: auto;
}

.logo-footer > span {
  display: block;
}

.footer-menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu-list {
  list-style-type: none;
  margin-right: 10px;
  text-align: center;
}

.footer-menu-list > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-menu-group {
  margin-bottom: 10px;
  display: block;
  font-size: 13pt;
  font-weight: bold;
}

.wrap-content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.wrap-column {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.text {
  width: 100%;
  font-size: 14pt;
}

.text > ul > li {
  margin-bottom: 5px;
}

.text li > a {
  font-weight: bold;
}

.img-rightof-text {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.p-style {
  text-indent: 14pt;
  text-align: justify;
  line-height: 18pt;
  font-size: 14pt;
}

.p-style > a {
  font-weight: bold;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-align-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=submit] {
  border: 1px solid #147ABE;
  background-color: #72BEF0;
  cursor: pointer;
}

textarea {
  resize: none;
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 20px;
}

.offers {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 75%;
  font-size: 14pt;
  padding-right: 25px;
}

.offers > h2 {
  text-align: center;
}

.offers-slider img {
  width: 400px;
  height: auto;
  margin-right: 25px;
  margin-left: 25px;
}

.slide-wrap > a {
  text-decoration: none;
  color: #000;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-text {
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  width: 89%;
  font-size: 14pt;
}

.news {
  width: 25%;
  padding-left: 25px;
  border-left: 2px solid #72BEF0;
}

.news > h2 {
  font-size: 20pt;
}

.single-news {
  margin-top: 44px;
}

.news-title {
  font-size: 18pt;
  display: block;
  text-align: center;
}

.news-title a {
  text-decoration: none;
  color: #000;
}

.news-short {
  text-align: justify;
}

.news-full a {
  color: #000;
}

.no-center {
  text-align: left;
}

.center {
  text-align: center;
}

.news-h2 {
  text-align: center;
}

.title-and-date {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.news-date {
  padding: 5px;
  font-size: 10pt;
  display: block;
}

.image-and-text {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.image-and-text > img {
  margin-right: 100px;
  height: 200px;
  width: 200px;
}

.client {
  text-decoration: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #147ABE;
}

.client > img {
  width: 150px;
  height: auto;
  background-color: rgba(100, 100, 100, 0.4);
}

.client-title {
  font-size: 14pt;
}

.client-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-card {
  font-size: 14pt;
  width: 40%;
}

.contact-card > span {
  display: block;
}

.contact-card a {
  font-weight: bold;
}

.contact-map {
  width: 60%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 40%;
  font-size: 14pt;
}

.feedback > input {
  font-size: 14pt;
  margin-bottom: 20px;
  margin-top: 5px;
}

.feedback_btn {
  padding: 10px;
}

.sale-item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale-item > img {
  margin-left: 50px;
  width: auto;
  height: 200px;
}

.object {
  font-size: 14pt;
}

.img-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-company {
  font-size: 14pt;
}

.p-style-img {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.float-img {
  float: right;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.license {
  text-align: center;
}

.license img {
  height: 300px;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.vacancy {
  font-size: 14pt;
}

.vacancy > .title {
  font-weight: bold;
}

.login-form-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 20px #B8B5BB;
          box-shadow: 0px 0px 20px #B8B5BB;
}

.login-form > input {
  margin-bottom: 50px;
  height: 22pt;
  font-size: 14pt;
}

.login-form > a {
  margin-bottom: 50px;
}

.login-form > span {
  color: #636556;
}

.login-form > input[type=submit] {
  background-color: #72BEF0;
  padding-top: 10px;
  padding-bottom: 30px;
  border: none;
}

span.whatis {
  color: #000;
  font-size: 14pt;
}

.admin-title {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-title input[type=submit] {
  font-size: 14pt;
  padding: 10px;
}

.items-on-site {
  padding: 0;
  list-style-type: circle;
}

.items-on-site > li {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14pt;
}

.action-btn > button {
  border: 1px solid #147ABE;
  background-color: #72BEF0;
  cursor: pointer;
}

.add-new-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
}

.add-new-form > * {
  margin-bottom: 10px;
}

.add-new-form input, .add-new-form select {
  font-size: 12pt;
}

.add-new-form input[type=submit] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.action {
  font-size: 14pt;
}

.action-item {
  margin-bottom: 10px;
  border: 1px solid #147ABE;
  display: inline-block;
  width: 20%;
  text-align: center;
  background-color: #72BEF0;
}
/*# sourceMappingURL=style.css.map */