//about_company.php
.about-company{
	font-size: $default-font-size;
}
.p-style-img{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.float-img{
	float: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

// license.php
.license{
    text-align: center;
    img{
        height: 300px;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}
