//login form
.login-form-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.login-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 30px;
    box-shadow: 0px 0px 20px #B8B5BB;
    >input{
        margin-bottom: 50px;
        height: 22pt;
        font-size: $default-font-size;
    }
    >a{
        margin-bottom: 50px;
    }
    >span{
        color:#636556;
    }
    >input[type=submit]{
        background-color: $site-color;
        padding-top: 10px;
        padding-bottom: 30px;
        border: none;
    }
}
// user-reg.php
span.whatis{
	color: #000;
	font-size: $default-font-size;
}
// adminpanel
.admin-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
    justify-content: space-between;
    input[type=submit]{
        font-size: $default-font-size;
        padding: 10px;
    }
}
.items-on-site{
	padding: 0;
    list-style-type: circle;
    >li{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: $default-font-size;
    }
}
.action-btn{
    >button{
        border: 1px solid $button-border-color;
        background-color: $site-color;
        cursor: pointer;
    }
}
.add-new-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
    width: 45%;
    >*{
        margin-bottom: 10px;
    }
    input, select{
        font-size: 12pt;
    }
    input[type=submit]{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}
.action{
	font-size: $default-font-size;
}
.action-item{
	margin-bottom: 10px;
	border: 1px solid $button-border-color;
	display: inline-block;
	width: 20%;
	text-align: center;
	background-color: $site-color;
}
