.banner{
	background-image: url(../image/header-new.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% ;
	background-size: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 100px;
    margin-top: -1px;
    >span{
        font-size: 26pt;
        font-weight: 600;
        display: block;
        margin-top: -50px;
        line-height: 30pt;
        color: #fff;
    }
}