.client{
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 200px;
	height: 200px;
	font-size: 14pt;
	padding-top: 10px;
	padding-bottom: 10px;
    border: 1px solid $button-border-color;
    >img{
        width: 150px;
        height: auto;
        background-color: rgba(100,100,100,0.4);
    }
}
.client-title{
	font-size:$default-font-size; 
}
.client-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}