.contact{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.contact-card{
	font-size: $default-font-size;
    width: 40%;
    >span{
        display: block;
        
    }
    a{
        font-weight: bold;
    }
}
.contact-map{
	width: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
//форма обратной связи
.feedback{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 40%;
    font-size: $default-font-size;
    >input{
        font-size: $default-font-size;
        margin-bottom: 20px;
        margin-top: 5px;
    }
}
.feedback_btn{
	padding: 10px;
}