.wrap-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
.wrap-column{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.text{
	width: 100%;
    font-size: $default-font-size;
    >ul{
        >li{
            margin-bottom: 5px;
        }
    }
    li>a{
        font-weight: bold;
    }
}
.img-rightof-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 50px;
	margin-top: 75px;
	margin-bottom: 25px;
}
.p-style{
	text-indent: $default-font-size;
	text-align: justify;
	line-height: 18pt;
	font-size: $default-font-size;
	>a{
		font-weight: bold;
	}
}
.flex-wrap{
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-align-between{
	justify-content: space-between;
}
input[type=submit]{
	border: 1px solid $button-border-color;
	background-color: $site-color;
	cursor: pointer;
}
textarea{
	resize: none;
	font-size: $default-font-size;
	margin-top: 5px;
	margin-bottom: 20px;
}