footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	background-color: $site-color;
	padding-top: 25px;
    font-size: 11pt;
    ul{
        margin-top: 0;
    }
}
.logo-footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
    align-items: center;
    >img{
        width: 50px;
        height: auto;
    }
    >span{
        display: block;
    }
}
.footer-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-menu-list{
	list-style-type: none;
	margin-right: 10px;
    text-align: center;
    >li{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.footer-menu-group{
	margin-bottom: 10px;
	display: block;
	font-size: 13pt;
	font-weight: bold;
}