.offers{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 75%;
	font-size: $default-font-size;
    padding-right: 25px;
    >h2{
        text-align: center;
    }
}
.offers-slider{
    img {
        width: 400px;
        height: auto;
        margin-right: 25px;
        margin-left: 25px;
    }
}
.slide-wrap{
    >a{
        text-decoration: none;
        color: #000;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.slide-text{
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: rgba(128,128,128,0.7);
	width: 89%;
	font-size: $default-font-size;
}