.nav-bar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	/*background-color:  rgba(128,128,128, 0.4);*/
	background-color: $site-color;
	padding-top: 20px;
}
#logo {
    >img{
	width: auto;
	height: auto;
    }
}
#menu{
	display: inline-block;
	list-style-type: none;
	margin-right: 50px;
    /*min-width: 950px;*/
    >ul{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        -ms-align-items: center;
        align-items: center;
        >li{
            a{
	            transition: font 0.4s ease;
            }
            display: inline-block;
            margin-right: 20px;
            position: relative;
            font-size: $default-font-size;
            text-align: center;
            &:hover{
                a{
                    transition: font 0.4s ease;
                    font-weight: bold;
                    font-size: 18pt;
                }
            }
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
}
div.hide-menu{
	display: none;
	background-color: $site-color;
    min-width: 180px;
    >ul{
        list-style-type: none;
        margin-left: 0;
        padding: 0;
	    margin-top: 40px;
        >li{
	        margin-bottom: 10px;
            &:hover{
                >a{
                font-weight: bold;
                }
            }
        }
    }
}
.sub-menu{
    cursor: pointer;
    >a{
        position: relative;
    }
    &:hover{
        .hide-menu{
            display: block;
            position: absolute;
        }
    }
}
