// news sidebar in index.php
.news{
	width: 25%;
	padding-left: 25px;
    border-left: 2px solid $site-color;
    >h2{
        font-size: 20pt;
    }
}
.single-news{
	margin-top: 44px;
}
.news-title{
	font-size: 18pt;
	display: block;
    text-align: center;
    a{
        text-decoration: none;
        color: #000;
    }
}
.news-short{
	text-align: justify;
}
.news-full{
     a{
	    color: #000;
    }
}
// news.php
.no-center{
    text-align: left;
}
.center{
	text-align: center;
}
.news-h2{
	text-align: center;
}
.title-and-date{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
.news-date{
	padding: 5px;
	font-size: 10pt;
	display: block;
}
.image-and-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    margin-top: 50px;
    >img{
        margin-right: 100px;
        height: 200px;
        width: 200px;
    }	
}