.sale-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
    align-items: center;
    >img{
        margin-left: 50px;
        width: auto;
        height: 200px;
    }
}